@charset "UTF-8";
@import url(reset.css);
@import url(font.css);


header{width: 100%; height: 60px; background: #fff; position: relative;}
header h1{position: absolute; width: 150px; height: 40px; left: 50%; top:3px; transform: translateX(-50%);}
header h1 img{width: 100%;}
header nav i.fa-bars{width: 40px; height: 40px; float: left; margin: 10px; font-size: 22px; text-align: center; line-height: 40px; position: relative; z-index: 8;}
header a.search{width: 40px; height: 40px; float: right; margin: 10px; font-size: 22px; text-align: center; line-height: 40px;}

header nav > ul{position: fixed; width: 300px; height: 100vh; background: #fff; z-index: 7; padding-top: 100px; box-sizing: border-box; overflow: auto; left: -300px; transition: .3s;}
/* 스크롤바 생기게 하는 거 overflow:auto */
header nav.on > ul{left: 0;}
header nav > ul > li.on > a{color: #f69d1c;}

header nav > ul > li{width: 95%; border-bottom: 1px solid #ccc; margin: 0 auto; text-align: center; line-height: 50px; font-size: 18px;} 
header nav > ul > li a{display: block;}
header nav .lnb{padding-bottom: 20px; display: none;}
header nav .lnb li{height: 40px; line-height: 40px; font-size: 16px; border-bottom: 1px solid #eee;}
header nav .lnb li:last-child{border-bottom: 0;}

header nav > .lnb_bg{position: fixed; width: 100%; height: 100vh; background: rgba(0,0,0,0.8); z-index: 6; display: none;}

#visual{width: 100%; position: relative;}
#visual img{width: 100%;}
#visual .text_box{position: absolute; text-align: center; top: 50%; left: 50%; transform:  translate(-50%, -50%); width: 100%;}
#visual .text_box em{font-style: normal; font-size: 30px; font-weight: bold; color: #fff;  margin-top: 1em; }
#visual .text_box p{font-size: 16px;color: #fff;}


#section1{padding: 30px 15px;}
#section1 h2{font-size: 24px; color: #222; text-align: center; margin-bottom: 30px;}
#section1 h2 strong{color: #9aaca8;}
#section1 h2 span{display: block; font-size: 14px; font-weight: 300; color: #777; letter-spacing: 0.03em; margin-top: 0.5em;}

#section1 article li {width: calc((100% - 20px) / 3); float: left; margin-right: 10px; box-shadow: 0 0 20px rgba(0,0,0,0.1); position: relative; margin-bottom: 20px;}
#section1 article li:nth-child(3n){margin-right: 0;}

#section1 article li a span{position: absolute; font-size: 13px; background: #f69d1c; color: #fff; border-radius: 20px; padding: 0.4em 1em; top: -10px; left: 5px; line-height: 12px;}


#section1 article li a figure{width: 100%; overflow: hidden; border-radius: 10px; height: 18vw;}
#section1 article li a img{max-width: 100%; min-height: 100%;}





#section2{padding: 30px 15px; background: #e9e6df;}
#section2 h2{font-size: 24px; color: #222; text-align: center; margin-bottom: 30px;}
#section2 h2 strong{color: #9aaca8;}
#section2 h2 span{display: block; font-size: 14px; font-weight: 300; color: #777; letter-spacing: 0.03em; margin-top: 0.5em;}

#section2 .tit{max-width: 85%; margin: 0 auto; font-size: 0; margin-bottom: 25px; text-align: center; }
#section2 .tit > li{font-size: 14px; display: inline-block; line-height: 14px; padding: 5px 0px; cursor: pointer; position: relative; width: 25%; }
#section2 .tit > li:after{content: ""; width: 100%; height: 3px; background: #9aaca8; position: absolute; left: 50%; transform: translateX(-50%); bottom: -5px; transition: .3s; opacity: 0;}
#section2 .tit > li:hover:after{opacity: 1;}


#section2 article ul li{width: 100%; border-radius: 10px; overflow: hidden; margin-bottom: 10px; text-align: center;}

#section2 article ul li img{width: 100%;}

#section2 article .na,
#section2 article .cl,
#section2 article .vi{display: none;}





#section3{padding: 30px 15px;}

#section3 div h3{font-size: 13px; padding: 0.4em 1em; border-radius: 50px; background: #f69d1c; color: #fff; display: inline-block;  top: -15px; position: relative;}
#section3 div{border: 1px solid #e5e5e5; border-radius: 10px; padding: 0 25px 25px 25px; }
#section3 .board_notice ul li{border-bottom: 1px solid #eee; padding-bottom: 1.5em; margin-bottom: 1.5em;}

#section3 .board_notice ul li:last-child{border: 0; padding: 0; margin: 0;}

#section3 .board_notice ul li strong{font-size: 14px; display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding-bottom: 1em;}
#section3 .board_notice ul li p{font-size: 13px; color: #777; padding-bottom: 2em;}
#section3 .board_notice ul li span.date{font-size: 13px; color: #777;}


#section3 .board_ask{margin-top: 30px;}
.input_box li{border: 1px solid #c6c6c6; border-radius: 5px; margin-bottom: 5px; height: 25px; margin-bottom: 10px;}
.input_box li label{width: 65px; float: left; font-size: 14px; font-weight: bold; text-indent: 15px; line-height: 25px;}
.input_box li input{font-size: 13px; color: #323232; text-indent: 15px; margin-top: 5px; width: calc((100% - 65px));}
.input_box .content{height: 70px;}
.input_box .content textarea{margin-top: 4px; text-indent: 15px; font-size: 13px; font-family: Pretendard; letter-spacing: 0.1em; height: 60px;}
.input_box .content textarea::placeholder{color: #757575;}

.board_ask button{text-align: center; padding: 0.4em 1em; border-radius: 100px; color: #fff; background: #f69d1c; font-size: 13px; cursor: pointer; float: right; line-height: 13px;}


footer{width: 100%; background: #f69d1c; text-align: center; position: relative; height: 150px; padding: 30px 0;}
footer h1{width: 150px; position: absolute; left: 50%; transform: translateX(-50%)}
footer h1 img{width: 100%;}


footer address{font-style: normal; color: #ffdeb2; font-size: 13px; width: 100%; float: left; margin-top: 60px;}
footer .sns_box{float: left; margin-top: 20px; width: 100%;}
footer .sns_box a{color: #ffdeb2; font-size: 20px; padding: 0 10px;}




